<mat-card>
  <mat-card-title>Time table</mat-card-title><br>
 <div *ngIf="this.role != 'Employee'">
  <mat-label>Select Employee : </mat-label>
  <select name="" id="" (change)="viewUser($event.target)">
    <option value="">        </option>
    <option  *ngFor="let user of this.c" value={{user.id}}>{{user.firstname}}</option>
  </select><br> <br>

  <form [formGroup]="timeForm" id="timeForm" (submit)="SaveTable(timeForm)">

    <mat-form-field appearance="fill">
  <mat-label>Working time :</mat-label>
  <input  matInput  formControlName="time" type="text"><br> <br>
</mat-form-field>

<mat-form-field appearance="fill">
  <mat-label>Working days :</mat-label>
  <input matInput  formControlName="days" type="text"><br><br>
</mat-form-field>

  <mat-form-field appearance="fill">
  <mat-label>Depature :   </mat-label>
  <input matInput  formControlName="departure" type="text"><br><br>
</mat-form-field>

  <mat-form-field appearance="fill">
  <mat-label>Destination :  </mat-label>
  <input matInput  formControlName="destination" type="text"><br><br>
</mat-form-field>

<mat-form-field appearance="fill">
  <mat-label>Vehicule details :</mat-label>
  <input matInput  formControlName="vehicule" type="text"><br><br>
</mat-form-field>

<mat-form-field appearance="fill">
  <mat-label>working partner :</mat-label>
  <input matInput  formControlName="partner" type="text"><br><br>
</mat-form-field>

<button mat-button type="submit">Save </button>
  </form>
</div>
  <div *ngIf="this.role == 'Employee'">
  <mat-list>
    <mat-label>Working Time :</mat-label>
    <mat-list-item>{{this.timeTable[0].time}}</mat-list-item>
    <mat-divider></mat-divider><br>
    <mat-label>Working Days :</mat-label>
    <mat-list-item>{{this.timeTable[0].days}}</mat-list-item>
    <mat-divider></mat-divider><br>
    <mat-label>Departure :</mat-label>
    <mat-list-item>{{this.timeTable[0].departure}}</mat-list-item>
    <mat-divider></mat-divider><br>
    <mat-label>Destination :</mat-label>
    <mat-list-item>{{this.timeTable[0].destination}}</mat-list-item>
    <mat-divider></mat-divider><br>
    <mat-label>Vehicule :</mat-label>
    <mat-list-item>{{this.timeTable[0].vehicule}}</mat-list-item>
    <mat-divider></mat-divider><br>
    <mat-label>Partner :</mat-label>
    <mat-list-item>{{this.timeTable[0].partner}}</mat-list-item>
    <mat-divider></mat-divider><br>
  </mat-list>
</div>
</mat-card>
