<!--dash.component.html-->

<button mat-button routerLink="/newReq" class="butt" *ngIf="this.role=='Employee'"> Create Request </button>
<div class="grid-container">
  <div class="mat-elevation-z8 small-table">
    <table mat-table  [dataSource]="this.a" class="full-width-table" matSort aria-label="Elements">
      <!-- Id Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Id</th>
        <td mat-cell *matCellDef="let row">{{row.id}}</td>
      </ng-container>
      <ng-container matColumnDef="Employe">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Employee</th>
        <td mat-cell *matCellDef="let row">{{row.employe}}</td>
      </ng-container>
      <!-- Name Column -->
      <ng-container matColumnDef="Description">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Description</th>
        <td mat-cell *matCellDef="let row">{{row.description}}</td>
      </ng-container>

      <ng-container matColumnDef="Type">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Type</th>
        <td mat-cell *matCellDef="let row">{{row.type}}</td>
      </ng-container>

      <ng-container matColumnDef="Status">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
        <td mat-cell *matCellDef="let row">{{row.status}}</td>
      </ng-container>

      <ng-container matColumnDef="Date">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Date</th>
        <td mat-cell *matCellDef="let row">{{row.date}}</td>
      </ng-container>
      <ng-container matColumnDef="Accept" >
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Accept/Reject</th>
        <td mat-cell *matCellDef="let row"><button (click)="accept(row)">accept</button> <button (click)="refuse(row)">reject</button></td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
 </div>
