.grid-container {
  margin-left: 50px;
  margin-top: 10px;
}

.dashboard-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
}

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.dashboard-card-content {
  text-align: center;
}

th{
  width: 170px;
  height: 60px;
}
.butt{
  margin: 20px;
  background-color: rgb(71, 71, 71);
}
