<div class="container">
    <mat-card-title>Are sure you want to delete <br>the following user
      {{User.id}} ?</mat-card-title>
    <mat-divider></mat-divider>
  
    <mat-dialog-content>
  
      <mat-card class="mat-elevation-z4">
        <mat-card-header>
  
        </mat-card-header>
  
        <mat-card-content>
          <div>
            <p>
              {{User.email}}
            </p>
            <p>
            </p>
  
  
  
          </div>
  
        </mat-card-content>
      </mat-card>
      <mat-divider></mat-divider>
  
    </mat-dialog-content>
    <mat-dialog-actions align="center">
      <button mat-button color="primary" type="submit" (click)="DeleteUser(User)">DELETE</button>
      <button mat-button mat-dialog-close>CANCEL</button>
    </mat-dialog-actions>
  </div>