.container {
  width: 400px;
  justify-content: center;
  text-align: center;
}

mat-form-field{
  width: 100%;
  justify-content: center;
}

mat-form-field {
  font-size: 20px;
}

@media screen and (max-width: 768px) {
  .container {
    width: auto;
    justify-content: center;
    text-align: center;
  }
}
