.container {
    width: 400px;
    justify-content: center;
    text-align: center;
  
  
  
   
  }
  
  mat-form-field,
  mat-dialog-actions {
    width: 100%;
    justify-content: center;
  
  }
  
  mat-form-field {
    font-size: 20px;
  }
  
  @media screen and (max-width: 768px) {
    .container {
      width: auto;
      margin: 0;
      justify-content: center;
      text-align: center;
   
    }
  }
  